/*---------------
    RESET
---------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

/*---------------
    TYPOGRAPHY
---------------*/
.white{
    color: #fff;
}

.light-grey{
    color: #6d6d6d;
}

/*---------------
    MAIN
---------------*/

main{
    height: calc(100vh - 90px);
}

.main-container{
    display: flex;
}

.center{
    text-align: center;
}

.wrap{
    flex-grow: 1;
    background-color: green;
    /* height: 100%; */
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.col{
    padding: 0px 10px;
}

.recently-played , .suggestions , .popular-artist{
    padding: 0px 20px;
}

.recently-played .col , .suggestions .col , .popular-artist .col{
    width: calc(100% / 6);
}

/*---------------
    ASIDE
---------------*/

aside{
    background-color: black;
    padding: 20px;
    height: calc(100vh - 90px);
    width: 300px;
    flex-shrink: 0;     /* mi evita il collasso del aside */
}

.aside-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-right: 50px;
}

.small-logo{
    display: none;
    max-width: 100%;
}

.big-logo{
    width: 100%;
}

.home-list{
    padding-top: 30px;
}

.home-list ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-list span{
    padding-left: 10px;
}

.home-list ul li{
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.home-list img{
    width: 20%;
}

.playlist-container h3{
    padding: 20px 0px;
}

.add-playlist{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding-bottom: 24px;
}
.add-playlist i{
    font-size: 40px;
}

.playlist-container{
    overflow-y: auto;
}

.playlist-container span{
    padding: 0px 10px;
    font-size: 18px;
}

.playlist-container ul{
    flex-grow: 1;
    list-style: none;
    overflow-y: auto;
}

.playlist-container ul li{
    padding: 14px 0px;
}

.profile{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.app-installer{
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.app-installer img{
    width: 12%;
}

.app-installer span{
    padding-left: 10px;
}

.user{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.user img{
    width: 18%;
    clip-path: circle();
    background-color: #6d6d6d;
}

.user span{
    padding-left: 12px;
}

/*---------------
    WRAP
---------------*/

#upgrade{
    background-color: #080b12;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
}

#upgrade button{
    padding: 15px 40px;
    background-color: inherit;
    border: 1px solid white;
    border-radius: 25px;
}


/*---------------
FRONT PAGE
---------------*/

#front-page{
    /* display: flex; */
    background-color: #141922;
}

.genre{
    display: flex;
    justify-content: center;
}

.genre ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

#front-page ul li{
    font-size: 14px;
    padding: 20px 15px;
}

#front-page h2{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.recently-played .col h3 , .suggestions .col h3{
    padding-bottom: 10px;
    padding-top: 20px;
}

.recently-played .col p{
    padding-bottom: 15px;
}

.p-suggest{
    padding-left: 20px;
    padding-bottom: 20px;
}

.popular-artist img{
    clip-path: circle()
}

/*---------------
    FOOTER
---------------*/
footer{
    height: 90px;
    background-color: #282828;
}
/*---------------
    RESPONSIVE
---------------*/

@media screen and (max-width: 1100px) {
    
    .recently-played .col{
        width: calc(100% /4);
    }

    .suggestions .col{
        width: calc(100% /4);
    }

    .popular-artist .col{
        width: calc(100% /4);
    }
}

@media screen and (max-width: 700px) {
    
    .recently-played .col{
        width: 50%;
    }

    .suggestions .col{
        width: 50%;
    }
    
    .popular-artist .col{
        width: 50%;
    }

}

@media screen and (max-width: 600px) {

    aside{
        width: 90px;
    }

    .aside-container{
        padding-right: 0px;
    }

    .big-logo{
        display: none;
    }

    .small-logo{
        display: block;
    }

    .home-list span{
        display: none;
    }

    .playlist{
        display: none;
    }

    .home-list img{
        width: 50px;
    }

    .app-installer span{
        display: none;
    }

    .app-installer img{
        width: 30px;
        margin: 0 auto;
    }

    .profile hr{
        display: none;
    }

    .user span{
        display: none;
    }

    .user img{
        width: 100%;
        margin: 0 auto;
    }
}