/*---------------
    RESET
---------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------
    TYPOGRAPHY
---------------*/
.white{
    color: #fff;
}

.light-grey{
    color: #6d6d6d;
}

/*---------------
    MAIN
---------------*/

main{
    height: calc(100vh - 90px);
}

.main-container{
    display: flex;
}

/*---------------
    ASIDE
---------------*/

aside{
    background-color: black;
    padding: 20px;
    height: calc(100vh - 90px);
    overflow-y: hidden;
    /* width: 500px; */
}

.aside-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.logo img{
    width: 100%;
    
}

.home-list{
    padding-top: 30px;
}

.home-list ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-list span{
    padding-left: 10px;
}

.home-list ul li{
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.home-list img{
    width: 20%;
}

.add-playlist{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding-bottom: 24px;
}
.add-playlist i{
    font-size: 40px;
}

.playlist-container span{
    padding: 0px 10px;
    font-size: 18px;
}

.playlist-container ul{
    list-style: none;
}

.playlist-container ul li{
    padding: 14px 0px;
}

.profile{
    display: flex;
    flex-direction: column;
}

.app-installer{
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.app-installer img{
    width: 12%;
}

.app-installer span{
    padding-left: 10px;
}

.user{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.user img{
    max-width: 18%;
    clip-path: circle();
    background-color: #6d6d6d;
}

.user span{
    padding-left: 12px;
}
/*---------------
    WRAP
---------------*/



/*---------------
    FOOTER
---------------*/